<div
    class="contentForm signupSiteForm"
    ng-controller="SignupSiteController"
    ng-include="'plugins/SitesManager/templates/sites-list/site-fields.html?cb=' + cacheBuster"
    ng-show="visible"
></div>
